:root{
    --cores: beige;
    --cores2: red;
    --images: url("foto.jpg");
}
.tab-content {
    display: none;
    padding: 15px;
    border: 1px solid #ccc;
    border-top: none;
}
.tab-content:hover{
    color: #007bff;
}
.tab-button:hover{
    color: aquamarine;
    font-size: small;
    background-size: cover;
    border-radius: 10%;
    border-color: darkkhaki;
}
.tab-content.active {
    display: block;
}
.error{
    color: red;
    padding-left: 50%;
    display: flex;

}
body {
    font-family: sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    background-color: var(--cores);
    box-shadow: #007bff;
    width: auto;
    height: auto;
    overflow: scroll;
}

.tabs-container {
    width: 1000px;
    height: 700px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.principal{
    color: #007bff;
    font: message-box;
    font-size: medium;
    font-style: inherit;
}
.tabs-buttons {
    display: flex;
    border-bottom: 1px solid #ccc;
    background-color: #e9e9e9;
}

.tab-button {
    padding: 10px 15px;
    border: color(rec2020 red green blue);
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1;
    font-display: fallback;
    transition: background-color 0.2s ease;
}

.tab-button:hover {
    background-color: #ddd;
    position: relative;
    x: 200px;
    y: 210px;
}

.tab-button.active {
    background-color: #007bff;
    color: white;
}
html, body{
    margin: 0;
    overflow: hidden;
    height: 100%;
}
.cousin{
    width:100vw;
    height: 100vh;
    background-image: url("foto.jpg");
    background-size: cover;
    background-position: center center;
    position: fixed;
    transform: translateX(0);
    transition: transform 2s ease-in-out;
    z-index: 1;
}
.cousin:hover{
    transform: translateX(-20px);
}
.texto{
    color: #007bff;
    border: #fff;
    shape-margin: 30%;
    box-shadow: inset;
    font-size: medium;
}
.texto:hover{
    animation: anime 2s ease-in-out;
}
@keyframes anime{
    0%{
        transform: rotateX(30deg);
        cursor: grab;
    }
    50%{
        transform: rotateX(60deg);
    }
    100%{
        transform: rotateX(90deg);
    }
}

.area{
    align-content: center;
    width: 50%;
    height: 70%;

}
